<!-- Add Images Page -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %}Images in the Gallery{% endblock %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center pt-4">Add Image to the Gallery</h1>
    </div>
</div>
<div class="container">
    <br>
    <div class="row justify-content-center ">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-green rounded-0 m-2">Add Image</button>
                <a class="btn btn-outline-dark rounded-0 m-2 p-2"
                    href="{%  url 'project_images' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}

{% endblock %}
