{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 class="text-center p-2 d-block">Boutique Snow White Gallery_Proba</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">        
{% if user.is_superuser %}
    <div class="col-12 mb-6">
        <div class="pt-3 text-center">
            <a href="{% url 'add_image' %}" class="btn btn-green rounded-0" aria-label="add-picture">
                Add Picture
            </a>
        </div>
    </div>
    {% endif %}
    <br>

    {% for image in galleryimages_list %}
    <a href="" class="recipes" aria-label="Click to view {{image.service.name}}"></a>
    <div class="col-sm-6 col-md-4">
        <div class="card border-0 mx-0 py-lg-3">
        {% if user.is_superuser %}
        <div>
            <span class="x-btn">
                <a href="" aria-label="Delete Image"><i class="fas fa-times fa-lg"></i></a>
            </span>
        </div>
        {% endif %}
        <div class="d-none p-2 my-auto d-lg-block pic-text bg-white appear">
            <strong>{{ service.name }}</strong>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}