{% load static %}
<footer>
    <div class="w-2/3 pl-4 pr-6">
        <!-- Social media icons -->
        <h3 class="mb-5 font-semibold text-black">Follow Us On:</h3>
        <a href="" target="_blank" rel="noopener" aria-label="Linledin - Opens in a new tab">
            <img src="{% static 'icons/linkedin-square-color-icon.svg' %}" alt="LinkedIn Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
            <img src="{% static 'icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in a new tab">
            <img src="{% static 'icons/github-icon.svg' %}" alt="Github Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
            <img src="{% static 'icons/twitter-square-color-icon.svg' %}" alt="Twitter Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="You Tube - Opens in a new tab">
            <img src="{% static 'icons/youtube-app-icon.svg' %}" alt="You Tube Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
            <img src="{% static 'icons/facebook-app-icon.svg' %}" alt="Facebook Icon" class="social-icon">
        </a>
    </div>
    <div class="w-1/3">
        <h3 class="mb-3 mt-3 pl-4 font-semibold text-black">Menu</h3>
        <ul class="space-y-2">
            <li class="nav-item">
                <a href="{% url 'products' %}" class="nav-link text-uppercase" aria-label="products">Products</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'services' %}" class="nav-link text-uppercase" aria-label="services">Services</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link text-uppercase" aria-label="contact us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'testimonials' %}" class="nav-link text-uppercase" aria-label="testimonials">Testimonials</a>
            </li>
            <!-- <li class="nav-item">
                <a href="https://www.privacypolicygenerator.info/live.php?token=77vt4RyR63gikm5tYefcnXcIqUdo97uc"
                    target="_blank" class="nav-link text-uppercase">Privacy Policy</a>
            </li> -->
        </ul>
    </div>
</footer>