<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">                        
            <a class="font-weight-bold nav-link mr-3" href="{% url 'home' %}" id="home-link" aria-label="Go to the product management page">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">           
            <a class="font-weight-bold nav-link mr-3" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>            
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'services' %}">
                Curtains and Blinds
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'testimonials' %}">
                Testimonials
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'project_images' %}">
                Project Images
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'contact' %}">
                Contact
            </a>
        </li>
    </ul>
</div>