<!-- Contact Us Page -->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!-- Page Title -->      
<h1 class="text-center p-2 d-block">
    Contact Us
</h1>                
<hr>

<div class="container fluid mb-4">
    <div class="container mt-5 text-center pb-5">
        <p>
            Do you have a question, a concern?
            If so, please complete the form below and we will aim to respond within 24 hours.
        </p>
        <p>
            Sign up to our monthly newsletter to keep up to date with all of our new stock!
        </p>
    </div>
       
    <div class="row justify-content-center mt-5">
        <!--Contact Us From-->
        <div class="col-12 col-md-6 text-black">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <!--Page Links to Submit Contact Us From or Cancel to Leave page Redirect's Back to Home Page-->
                <button type="submit" class="btn btn-green rounded-0">Submit</button>
                <a class="btn btn-green rounded-0" href="{%  url 'home' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}