{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container container-wide">
        <div class="row">
            <div class="col-12">
                {% if current_categories %}
                {% for c in current_categories %}
                <h1 class="text-center pt-4">{{ c.friendly_name }}</h1>
                {% endfor %}
                {% else %}
                <h1 class="text-center pt-4">All Products</h1>
                {% endif %}
            </div>
            {% if user.is_superuser %}
            <div class="col-12">
                <div class="pt-3 text-center">
                    <a href="{% url 'add_product' %}" class="btn btn-sm gold-button py-2" aria-label="add-new-product">
                        Add New Product
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border-gold">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                            (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                            (A-Z)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="mt-3 text-center text-md-left">
                    {{ products|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <div class="row card-deck">
            {% for product in products  %}
            <div class="col-sm-6 col-md-4 px-1 d-flex align-items-stretch">
                <div class="card card-detail product-card border-0 mb-3 mx-auto mx-sm-2">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top">
                    {% endif %}
                    <div class="row card-body py-2">
                        <div class="col pl-0 card-text">
                            <strong>{{ product.name }}</strong>
                        </div>
                        <div class="col text-right pr-0">€{{ product.price }}</div>
                        <a href="{% url 'product_detail' product.id %}" class="stretched-link"
                            aria-label="product-detail"></a>
                    </div>
                    <div class="row card-body py-0 mb-4">
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                    <p class="mt-3">{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <small class="col text-right pr-0 edit-delete-btns">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-0 hover:bg-ti
                        eal-700">Contact Seller</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border-gold">
        <div class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-jet mx-auto my-auto"></i>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
</script>
<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}
